version: "3.9"
services:
  postgres:
    image: postgres:17
    container_name: db_practice
    environment:
      POSTGRES_DB: "db_store"
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: