--
-- PostgreSQL database dump
--

\restrict Utq4uuFAH2VeeY1NJTNVVMIVeGUFYFQ09Q3V1lMNCpFWHovoi9A24Rne0KSpjrI

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.8 (Debian 17.8-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: no_pk; Type: TABLE DATA; Schema: public; Owner: db_practice_umarrina
--

COPY public.no_pk (id, val) FROM stdin;
1	updated
1	updated
\.


--
-- PostgreSQL database dump complete
--

\unrestrict Utq4uuFAH2VeeY1NJTNVVMIVeGUFYFQ09Q3V1lMNCpFWHovoi9A24Rne0KSpjrI

